
/* ----------------
* @param textBlock
*
*/
.textBlock, 
.textBlockA, 
.textBlockB,
.textBlockC,
.textBlockD{
    background-color: rgb(39, 39, 39, 0.8);  // ?-[01]
    padding: 42px;
    height: 283px;
    border: 1px solid rgb(31, 12, 1);
    width: 383px;
  }

  .textBlock__interior
    {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      height: 100%;
    }

    .textBlock__top {
        overflow:hidden;
        width: auto;
      }

      .textBlock__top p {
          color: aliceblue;
          font-family: roboto;
          font-size: 22px; 
      }

    .textBlock__boot {
    width: auto; 
    height:56px;
    }

      .textBlock__img {     
        background-image: url('images/arrow.svg');
        height: 56px;
        width: 56px;
      }

      .textBlock__img:hover {
        background-image: url('images/colored_arrow.svg');
      }

/* ----------------
* @param textBlockE
*
*/
.textBlockE{
  background-color: rgb(255, 255, 255);  
  padding: 42px;
  height: 283px;
  border-top: 1px solid rgb(31, 12, 1);
  width: 383px;
} 
  .textBlockE__top{
   width: auto; 
  }
    .textBlockE__top p {
      color: rgb(0, 0, 0);
      font-family: roboto;
      font-size: 35px; 
  }

// TODO textBlockE media

@media screen and (max-width: 1964px) {
  .textBlockD{
    background-color: rgb(39, 39, 39, 1);
  }
}

@media screen and (max-width: 1581px) {
  .textBlockC{
    background-color: rgb(39, 39, 39, 1);
  }
}
@media screen and (max-width: 1198px) {
  .textBlockB{
    background-color: rgb(39, 39, 39, 1);
  }
}
@media screen and (max-width: 815px) {
  .textBlockA{
    background-color: rgb(39, 39, 39, 1);
  }
}



@media screen and (max-width: 320px) {
 
}
@media screen and (max-width: 480px) {
 
}

@media screen and (max-width: 768px) {
  .textBlock, 
  .textBlockA, 
  .textBlockB,
  .textBlockC,
  .textBlockD{
      width: 355px;
    }
}

@media screen and (max-width: 1024px) {
 
}

@media screen and (max-width: 1200px) {
 
}