@import 'zeroing.scss';
@import 'index_small.scss';

@import 'modul/menu/index.scss';
@import 'modul/header/index.scss';
  @import 'modul/header/substrate/index.scss';
  @import 'modul/header/overlay/index.scss';
  @import 'modul/header/overlay/textBlock/index.scss';


@font-face{
  font-family: 'Roboto';
  src:url('fonts/roboto-light.ttf');
}

/* *----------------
* @param body
*
*/

body {
   margin: 0;
  // display: flex;
  // align-items: center;
  // justify-content: center;

}
  .basic {
      border: 3px solid rgb(222, 241, 14);
      margin-left: auto;
      margin-right:auto;
      max-width:1600px;
      height: auto;
      // align-content: flex-start;
  }



/* *----------------
* @param company_description
*
*/

.company_description {
  border: 5px solid rgb(40, 198, 26);
  width: auto;
  height: 200px;

}

