/* *----------------
* @param overlay
*
*/


.overlay__el1 {
  // border: 1px solid black;
  width: 300px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 70px;
}

.overlay__el2 {
  // border: 1px solid black;
  color: rgb(253, 250, 250);
  margin-bottom: 53px;
  font-family: roboto;
  font-size: 67px;
  max-width: 750px;
  height: 200px;
}

.overlay__el3 {
  // border: 1px solid black;
  display: inline-flex;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
}

